<head>
    <h2>This is Ekbana Asignment2</h2>
</head>
<body>
    <script type="/javascript" src="node_modules\moment\moment.js"></script>
    
    <Script>
        import moment from moment;
        console.log(moment().format('YYYY-MM-DD'));
    </Script>

        <!-- external javascript -->
    <script src="EXTERNAL.js"></script>

    <!-- inline javascript -->
    <script>
        let a =2;
        let b = 3;
        console.log(a+b);
    </script>
    
</body>
</html>